/* defined variable color values */
:root {
    --grey: #9bafb5;
    --white: #ffffff;
    --dark-grey: #404040; 
    --dark-white: #f2f2f2; 
}

/* setting page background */
* {
    background-color: var(--dark-white);
}

/* setting header format settings */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    color: var(--white);
    background-color: var(--grey);
}

/* defining margin values for sections */
section {
    margin: 20px;
}

/* setting h1 fontsize value */
h1 {
    font-size: 200%;
    background-color: var(--grey);
}

/* setting h2 fontsize, color and spacing/style */
h2 {
    font-size: 150%;
    background-color: #ffffff;
    padding: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: var(--dark-grey);
}

/* making nav stlying and spacing */
nav ul {
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav ul li {
    background-color: var(--grey);
    font-size: 125%;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
    background-color: var(--grey);
}

/* creating section for contact info styling */
.contact-info {
    color: black;
    background-color: #ffffff;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--dark-grey);
}

/* making 2 sections stlye options and formatting for webpage */
p, figcaption{
    margin-top: 10px;
    font-size: 18px;
    color: black;
    background-color: #ffffff;
    padding: 1%;
    border-style: solid;
    border-width: 3px;
    border-color: var(--dark-grey);
}

/* setting image size and profile photo spacing/styling */
.profile-photo {
    max-height: 300px;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
    border-color: var(--dark-grey);
}

/* setting image size and stlying/border options */
.project1-img {
    height: 300px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--dark-grey);
}

/* setting image size and stlying border options */
.prework-img {
    height: 250px;
    border-style: solid;
    border-width: 3px;
    border-color: var(--dark-grey);
}

/* creating a parent container for flexable content */
.parentContainer {
    position: relative;
    text-align: center;
    color: white;
    margin: 10px;
}

/* aligning the parent container */
.contact-info-alignment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    color: var(--white);
    background-color: var(--dark-white);
}

/* making github link in Contact Me fit styling settings */
.github-color {
    text-decoration: none;
    background-color: var(--white);
    color: black;
}

/* making parent container options fit in a row setting */
.row {
    display: flex;
    justify-content: center;
}

/* making parent container options fit in a column value */
.column {
    flex: 50%;
    padding: 5px;
}

/* creating flex options for different screen widths */
@media screen and (max-width: 820px) {
    main,
    header, .row {
      flex-direction: column;
    }
}

/* creating flex options for different screen widths */
@media screen and  (max-width: 660px) {
    .project1-img {
        height: 150px;
        border-style: solid;
        border-width: 3px;
        border-color: var(--dark-grey);
    }

    .prework-img {
        height: 125px;
        border-style: solid;
        border-width: 3px;
        border-color: var(--dark-grey);
    }
}

/* creating flex options for different screen widths */
@media screen and  (max-width: 400px) {
    .project1-img {
        height: 150px;
        border-style: solid;
        border-width: 3px;
        border-color: var(--dark-grey);
    }

    .prework-img {
        height: 125px;
        border-style: solid;
        border-width: 3px;
        border-color: var(--dark-grey);
    }
}
